%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-arrow-icon {
	@extend %svg-common;
	background-position: 52.863436123348016% 73.96449704142012%;
}

.svg-arrow-icon-dims {
	width: 22px;
	height: 40px;
}

.svg-calendar_icon {
	@extend %svg-common;
	background-position: 47.08994708994709% 0;
}

.svg-calendar_icon-dims {
	width: 60px;
	height: 60px;
}

.svg-chat_icon {
	@extend %svg-common;
	background-position: 67.94258373205741% 73.96449704142012%;
}

.svg-chat_icon-dims {
	width: 40px;
	height: 40px;
}

.svg-down-arrow-small {
	@extend %svg-common;
	background-position: 100% 39.40886699507389%;
}

.svg-down-arrow-small-dims {
	width: 10px;
	height: 6px;
}

.svg-facebook-icon {
	@extend %svg-common;
	background-position: 92.88888888888889% 75.67567567567568%;
}

.svg-facebook-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-growth_icon {
	@extend %svg-common;
	background-position: 47.08994708994709% 40.26845637583892%;
}

.svg-growth_icon-dims {
	width: 60px;
	height: 60px;
}

.svg-hands {
	@extend %svg-common;
	background-position: 95.4337899543379% 44.6927374301676%;
}

.svg-hands-dims {
	width: 30px;
	height: 30px;
}

.svg-hello {
	@extend %svg-common;
	background-position: 95.4337899543379% 61.452513966480446%;
}

.svg-hello-dims {
	width: 30px;
	height: 30px;
}

.svg-house_icon {
	@extend %svg-common;
	background-position: 78.83597883597884% 0;
}

.svg-house_icon-dims {
	width: 60px;
	height: 60px;
}

.svg-instagram-icon {
	@extend %svg-common;
	background-position: 80.88888888888889% 67.56756756756756%;
}

.svg-instagram-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-phone-icon {
	@extend %svg-common;
	background-position: 100% 72.53886010362694%;
}

.svg-phone-icon-dims {
	width: 16px;
	height: 16px;
}

.svg-quotes-icon {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-quotes-icon-dims {
	width: 89px;
	height: 62px;
}

.svg-shield_icon {
	@extend %svg-common;
	background-position: 78.83597883597884% 40.26845637583892%;
}

.svg-shield_icon-dims {
	width: 60px;
	height: 60px;
}

.svg-tag_icon {
	@extend %svg-common;
	background-position: 0 83.89261744966443%;
}

.svg-tag_icon-dims {
	width: 60px;
	height: 60px;
}

.svg-team_icon {
	@extend %svg-common;
	background-position: 31.746031746031747% 83.89261744966443%;
}

.svg-team_icon-dims {
	width: 60px;
	height: 60px;
}

.svg-telegram_icon {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-telegram_icon-dims {
	width: 40px;
	height: 40px;
}

.svg-tik-tok-icon {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-tik-tok-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-vk-icon {
	@extend %svg-common;
	background-position: 10.666666666666666% 100%;
}

.svg-vk-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-whatsapp_icon {
	@extend %svg-common;
	background-position: 100% 23.668639053254438%;
}

.svg-whatsapp_icon-dims {
	width: 40px;
	height: 40px;
}

.svg-whitearrow-icon-left {
	@extend %svg-common;
	background-position: 0 42.465753424657535%;
}

.svg-whitearrow-icon-left-dims {
	width: 40px;
	height: 63px;
}

.svg-whitearrow-icon-right {
	@extend %svg-common;
	background-position: 19.138755980861244% 42.465753424657535%;
}

.svg-whitearrow-icon-right-dims {
	width: 40px;
	height: 63px;
}

.svg-youtube-icon {
	@extend %svg-common;
	background-position: 21.333333333333332% 100%;
}

.svg-youtube-icon-dims {
	width: 24px;
	height: 24px;
}

